{% extends "main/base.html" %}
{% block head %}
<title>Combo</title>
<style>
  .button {
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span {
    padding-right: 25px;
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 container {
  position: relative;
}
.text-block {
  position: absolute;
  bottom: -50px;
  right: 292px;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  </style>
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <div class="navbar-brand" href="main/index.html"><div style="font-family: 'Times New Roman', Times, serif;" ><h1 class="display-1">Combo Packs</h1></div>
    </div>
    </div>
  </nav>

  <div class="container-fluid padding">
    {% load static %}
    <img src="{% static "main/combo1.png" %}" alt="My image" style="width:100%; opacity: 0.3;">
    <div class="text-block" >
      {% for items in combo %}
              <li>
                <form method='POST' action="/browse">
                  {% csrf_token %}
                  {{ items }}- Rs.{{ items.price }} 
                  <input type="hidden" name="pack_id" value="{{items.pk}}">
                  <input type="hidden" name="db_name" value="Combo">
                  <button type="submit" class="button"><span>View pack</span></button>
                </form>
              </li>
           {% empty %}
          {% endfor %}
    </div>
  </div>
  
{% endblock %}